<script>
    //console.log(`location.pathname = ${location.pathname}`)
    const bookId = location.pathname.split('/').pop();
    //console.log(`init socket bookId = ${bookId}`)
    const socket = io.connect('/', {query: `bookId=${bookId}`});
    //console.log(`socket.handshake.query`)
    //console.log(socket.query)
    
    const cardList  = document.querySelector('#list');
    const inputText = document.querySelector('#text');
    const sendBookDiscussants = document.querySelector('#send-book-discussants');

    const getCardTeml = (msg) => {
      return `
            <div class="card mb-4">
                <div class="card-body">
                    <p>${msg.text}</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <p class="small mb-0 ms-2">${msg.username}</p>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <p class="small text-muted mb-0">${msg.date}</p>
                        </div>                        
                    </div>
                </div>
            </div>
          `;
    };

    // // Генерация события message-to-all
    // socket.on('message-to-all', (msg) => {
    //     const div = getCardTeml(msg)      
    //     cardList.insertAdjacentHTML('afterBegin', div)
    // })

    // // сделаем подписку на нажатие кнопки
    // sendAll.addEventListener('click', () => {
    //     socket.emit('message-to-all', {
    //         text: inputText.value,
    //         bookid: book.id
    //     })
    // })    

    socket.on('message-to-book-discussants', (msg) => {
        const div = getCardTeml(msg)
        cardList.insertAdjacentHTML('afterBegin', div)
    });

    sendBookDiscussants.addEventListener('click', () => {
        if(inputText.value!==""){
            socket.emit('message-to-book-discussants', {
                text: inputText.value,
            })
            inputText.value = ""
        }
    })
</script>